@font-face {
  font-family: Vazir-Variable;
  src: url("./../fonts/Vazir-Variable.woff") format("woff");
}

@font-face {
  font-family: Vazir-Medium;
  src: url("./../fonts/Vazir-Medium.woff") format("woff");
}

* {
  direction: rtl;
  text-align: right;
  font-family: Vazir-Variable, Vazir-Medium;
  word-wrap: break-word;
}

.bg-dark {
  background-color: #0f0e0e !important;
  color: #474b4f;
}

.bg-soft-dark {
  background-color: #191919 !important;
  color: #eeeeeeff;
}

.c-pointer {
  cursor: pointer;
}

.text-success {
  color: #86c232;
}

.icon-position-fix {
  position: relative;
  top: 0.2rem;
}

.icon-position-fix-md {
  position: relative;
  top: 0.1rem;
}

.badge-fix {
  position: relative;
  bottom: 10px;
  right: 3px;
}

.scroll-hide {
  overflow: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.car-custom-color {
  background-color: #222629be;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.2s;
}

.gradient {
  transition: all 0.5s;
}

.car-custom-color:hover {
  background-color: #191919c0;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.2s;
}

.inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.uploade-input {
  border: 4px #fff dashed;
  padding: 16px;
}
.file-box {
  margin-top: 13px;
  float: left;
  direction: ltr;
}

.file-button {
  float: left;
}

label {
  margin-bottom: 0.5rem;
}


.dataTable {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.dataTables_info {
  color: #ffffff !important;
}